<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="WindowsFormsApplicatig   on1.Properties.Settings.examonlineConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\examonline.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
	 
	<add key="sqlc" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\examonline.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--数据库连接地址-->

	<add key="sqlc" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aqfks;Integrated Security=True;Connect Timeout=30"/>

	  <!--<add key="sqlc" value="Data Source=BNY-PC;Initial Catalog=aqfks;User ID=sa;Pwd=82355642;Connect Timeout=30"/>-->

	  <add key="machine" value="4" />
    <!--1是管理员  0是考生抽题 2是离线考试 3 在线考试 4 研磨 -1是上帝模式-->
    <add key="loc" value="//BNY-PC/Images/" />
    <!--生成的照片和咨询图片统一位置 默认在bin目录下,-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />          
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenCvSharp" publicKeyToken="6adad1e807fea099" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>     
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>